.footer {
  background-color: #232f3e;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  line-height: 30px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.footer h4 {
  padding: 20px;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #f0c14b; /* Amazon yellow color */
}

/* Copyright notice */
p {
  font-size: 12px;
  margin-top: 10px;
}

/* Responsive adjustments 
@media (max-width: 768px) {
  .footer-section {
    margin-bottom: 20px;
  }
}*/
