.policy {
  margin: 50px;
  padding: 50px;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy__image {
  margin: 10px;
  padding: 5px;
  height: 600px;
  width: 850px;
}

.policy__content p {
  text-align: justify;
  margin: 40px;
  font-size: 20px;
}
